.rec .rec-arrow {
  background-color: transparent;
  border: 1px solid var(--text-color)
}

.rec .rec-arrow:hover {
  background-color: transparent !important;
  color: var(--text-color);
}

.rec.rec-dot {
  display: none;
  background-color: aliceblue;
  border-color: var(--primary-d);
}

.rec.rec-dot_active {
  display: none;
  background-color: var(--primary-l);
}

/* TODO: ADD PROPER BUTTON CSS */