.rec .rec-arrow {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.rec .rec-arrow:hover {
  background-color: transparent !important;
  color: #da18a3 !important;
}

.rec .rec-arrow-left {
  z-index: 1;
  position:relative;
  left: 3rem
}

.rec .rec-arrow-right {
  z-index: 1;
  position:relative;
  right: 3rem
}

.rec .rec-arrow:disabled {
  background-color: transparent !important;
  color: var(--text-color) !important;
}

.rec.rec-dot {
  display: none;
  background-color: aliceblue;
  border-color: var(--primary-d);
}

.rec.rec-dot_active {
  display: none;
  background-color: var(--primary-l);
}

/* TODO: ADD PROPER BUTTON CSS */