.homePage {
  color: var(--text-color);
  font-family: Poppins;
}

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-family: Poppins;
}

.homeBanner {
  /* z-index: 2; */
  width: 100vw;
  height: 40vh;
  border-radius: 25px;
  width: 992px;
  max-width: 90vw;
  background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0;
  position: relative;
}

.bannerText {
  /* z-index: 3; */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  overflow: hidden !important;
  text-align: left;
}

.bannerCircle {
  position: absolute;
  height: 40vh;
  margin: 0;
}

.circle2 {
  position: absolute;
    height: 70%;
    margin: 0;
    /* right: 0vh; */
    /* transform: translate(-25%, 0); */
    /* top: 29vh; */
    /* overflow: hidden; */
    align-self: flex-end;
    right: 0;
    /* place-self: center; */
    border-bottom-right-radius: 25px;
}

.carouselContainer {
  margin:0;
  padding: 0;
}

.deck {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}