.c1{
    background: var(--bg-tertiary);
    border: 1px dashed #888888;
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
}

.t1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
    margin: 40px;
}

.sp-1 {
    font-size: 14px;
    line-height: 21px;
}

.h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    color: var(--text-color);

}

.h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--text-color);

}

.light .drop-btn{
    border-left: none;
    border-color:#ced4da;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dark .drop-btn{
    border: none;
    background: var(--bg-secondary);
    color: var(--text-color);
}

.bd-r{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width: 768px) {
    .t1, ::placeholder{
        font-size: 14px;
        line-height: 21px;
    }
    .h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .h1 {
        display: none;
    }
}