.dark_modal {
  background-color: #24252D;
  color: #fff;
  border-color: #3B3F4F;
}

.dark .modal-dialog-centered {
  background: #24252D;
}

.modalTitle {
  font-family: "poppins";
  font-weight: 600;
  font-size: 24px;
  margin: 30px auto;
}
.shareTitle {
  font-family: "poppins";
  font-weight: 600;
  color: var(--text-color);
  font-size: 20px;
  justify-content: "center";
  margin-bottom: 23.75px;
}
.textTitle {
  font-family: "poppins";
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
}
.textSub {
  font-family: "poppins";
  color: var(--text-color);
  font-size: 16px;
}
.num {
  font-family: "poppins";
  font-size: 16px;
  color: var(--text-color);
  margin: 0px auto;
}

.unit {
  font-family: "poppins";
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
  margin: 0px auto;
}

.cardTitle {
  font-family: "poppins";
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
  margin: 4px 0;
}

.cardSub {
  font-family: "poppins";
  font-size: 14px;
  color: var(--text-color);
  margin: 4px 0;
}

.buttonCheck {
    flex: 1;
    font-weight: 600;
    width: 104px;
    margin: 0px 10px;
    padding: 9px;
    font-size: 16px;
}

.buttonCancel {
  font-weight: 600;
  width: 104px;
  margin: 0px 10px;
  padding: 9px;
  font-size: 16px;
}

.twoTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
}
