.photoCard {
  margin: 1rem;
  width: 16rem !important;
  color: var(--text-color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-tertiary);
  border-radius: 1rem;
  border: 0;
  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.1));
  font-family: Poppins;
}

.cardImage {
  margin: 1rem !important;
  background-color: white;
  width: 14rem;
  border-radius: 1rem;
}

.cardBody {
  width: 100%;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0.75rem;
}

.cardBodyTitle{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  margin: 0;
}


.cardBodyDesc{
  width: 100%;
  margin: 0 !important;
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

b {
  font-weight: 600;
}

.cardBodyLikes {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding :0;
}

.cardBodyLikes {
  text-align: right;
}
