.oneOne {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.oneOne > * {
  margin-bottom: 25px;
}

.oneOne svg {
  margin-left: -5px;
}

.oneTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.oneTwo > * {
  margin: 6px;
}

.oneTwotitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}

.oneOneTwo {
  font-weight: 600;
}

.oneOneThree {
  position: relative;
  width: 100%;
}

.oneOne input {
  border: 1px solid #e3e1e3;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-right: 10px;
}

.oneOneThree input:focus {
  outline: none;
}

.two {
  width: 100%;
  display: flex;
  padding: 20px;

  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid var(--bg-secondary);
  margin-top: 32px;
}

.twoOne {
  font-weight: 600;
}

.twoTwo {
  display: flex;
  flex-direction: row;
}

.twoTwo > * {
  margin: 0 10px;
}

.ctn {
  margin-top: 10px;
  padding-top: 30px;
  border-top: 1px solid var(--bg-secondary);
  color: var(--text-color);
}

.oneTwotitle ~ a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
}
