.btn-primary {
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  width: fit-content;

  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  border-color: transparent !important;
  white-space: nowrap;
}

.btn-btn {
  font-weight: 600;
  font-family: "poppins";
  border-color: #DA18A3;
  margin: 0px 10px;
  width: fit-content;
  font-size: 16px;
  border-radius: 10px;
  color: #DA18A3;
  background: transparent;
}

.light {
  --bg-border: 1px solid #E3E1E3;
  --bg: #E5E5E5;
  --bg-search: #FFFFFF;
  --bg-secondary: #F5F5F5;
  --bg-tertiary: #FFFFFF;
  --text-color: #2D2E36;
  --under-line: #E3E1E3;
}

.dark {
  --bg: #24252D;
  --bg-secondary: #3B3F4F;
  --bg-search:#1B1A21;
  --text-color: #FFFFFF;
  --bg-tertiary: #2D2E36;
  --bg-border: 1px solid #2D2E36;
  --under-line: #2D2E36;
  background: var(--bg);
}

.dark input,
.dark select,
.dark textarea,
.dark input:focus,
.dark select:focus,
.dark textarea:focus {
  background: var(--bg-secondary);
  color: var(--text-color);
  border: none !important;
}

.dark ::placeholder {
  color: var(--text-color);
}

.c1:hover {
  background: var(--bg-secondary);
  transform: scale(1.01);
}

body::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 9px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	background-color: #DA18A3;
}

.hr {
  border-top: 1px solid var(--bg-secondary);
}

body {
  overflow-x: hidden;
}