.btn-primary{
  background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
  border-radius: 10px;
  border-color: transparent!important;
}

.light {
  --bg: #E5E5E5;
  --bg-secondary: #F5F5F5;
  --bg-tertiary: #FFFFFF;
  --text-color: #2D2E36;
}

.dark {
  --bg: #24252D;
  --bg-secondary: #3B3F4F;
  --text-color: #FFFFFF;
  --bg-tertiary: #2D2E36;
  background: var(--bg);
}

.dark input{
  background: var(--bg-secondary);
  color: var(--text-color);
  border: none!important;
}

.dark ::placeholder {
  color: var(--text-color);
}