.btn-primary {
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  width: fit-content;

  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  border-color: transparent !important;
  white-space: nowrap;
}

.btn-btn {
  font-weight: 600;
  font-family: "poppins";
  border-color: #da18a3;
  margin: 0px 10px;
  width: fit-content;
  font-size: 16px;
  border-radius: 10px;
  color: #da18a3;
  background: transparent;
}

.dark input,
.dark select,
.dark textarea,
.dark input:focus,
.dark select:focus,
.dark textarea:focus {
  background: var(--bg-secondary);
  color: var(--text-color);
  border: none !important;
}

.dark ::placeholder {
  color: var(--text-color);
}

.c1:hover {
  background: var(--bg-secondary);
  transform: scale(1.01);
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 9px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #da18a3;
}

.hr {
  border-top: 1px solid var(--bg-secondary);
}

.flow {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.btn-outline-light {
  background: var(--bg-search);
  border: var(--bg-border);
  color: var(--text-color);
  font-family: "poppins";
  border-radius: 10px;
  align-items: center;
  width: fit-content;
  height: 40px;
  font-size: 12px;
}

.dropdown-toggle::after {
  content: "⌄";
  border: transparent;
  margin-left: 5rem;
}

.btn-outline-light:hover {
  transform: scale(1.01);
  color: var(--text-color);
  background: var(--bg-secondary);
}

.dropdown-menu.show {
  display: block;
  background: var(--bg-primary);
  color: var(--text-color);
  width: -webkit-fill-available;
}

.dropdown-item {
  color: var(--text-color);
  font-family: "poppins";
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  background: var(--bg-search);
  border-bottom: 1px solid var(--bg-primary);
  padding: 10px;
}

.load-more-btn {
  width: 300px;
  height: 40px;

  border-radius: 10px;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 60px 0px;
  transform: scale(1.01);
}

.h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color);
}

.topic {
  margin-left: 4rem;
}

#frg .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

#checkModalMobile {
  top: 100%;
  padding: 0;
  transform: translate(0px, -100%);
}

.heart-92 {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 10px 20px;
  border-radius: 22px;

  width: 80px;
  height: 40px;

}
